<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <body>
        <p>Foi criado um evento onde você está envolvido:<p/>
 
 		<p><b>Informações:</b><br/>
        Evento: <b>$param1</b><br/>
 		Data: <b>$param2</b><br/>
 		Local: <b>$param3</b><br/>
 		Descrição: <b>$param4</b>
 		<p/>
 		
 		<br/>
 
        Atenciosamente,<br/>
        A Equipe do AboutChurch.
    </body>
</html>