<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <body>
        <p>Sua palavra-passe foi reiniciada e agora é: <b>$param1</b><p/>
 
        A Equipe do AboutChurch agradece<br/><br/>
        
        Atenciosamente.
    </body>
</html>